$font-color: #333333;
$sub-font-color: #666666;
$background-base-color: #ECF5FF;
$background-surface-color: #FDFDFD;
$highlight-color: #0095D9;
$border-color: #DADADA;
$border: 2px double $border-color;
$sub-border: 1px dotted $border-color;