<div class="widget-archives widget">
  <h4 class="widget__title">{{ T "categories_title" | default "Archives" }}</h4>
  <div class="widget__content">
    <select onChange="location.href=value;">
      <option>{{ T "archives_select_month" | default "Select Month" }}</option>
      {{ range $items := .Site.Taxonomies.archives.Alphabetical.Reverse }}
      <option value="{{ $.Site.BaseURL }}archives/{{ .Name | urlize | lower }}">{{ .Name }} ({{ .Count }})</option>
      {{ end }}
    </select>
  </div>
</div>