{{- /* エスケープ処理（改行を空白化、前後の空白削除、連続する空白を集約） */}}
{{- define "escape" }}
  {{- trim (replace . "\n" " ") " " | replaceRE " +" " " -}}
{{- end }}
{{ define "main" }}
<title>{{ .Page.Title }} | {{ .Site.Title }}</title>

<h1>{{ .Page.Title }}</h1>
<input onkeyup="search(this.value)" size="15" autocomplete="off" autofocus placeholder="検索ワード" />
<span id="inputWord"></span> <span id="resultCount"></span>
<div id="result"></div>

<script src="\js\search.js">
</script>

<script>
// 検索用のインデックスデータ
<!--
const data = [
{{- range $index, $page := .Site.Pages }}
{{- if not (or (eq $page.Kind "taxonomy") (eq $page.Kind "term")) }}
  {
    url: {{ $page.RelPermalink }},
    title: {{ $page.Title }},
    date: {{ $page.Date }},
    body: {{ template "escape" (printf "%s %s" $page.Title $page.Plain) }}
  },
{{- end }}
{{- end }}
];
-->
</script>

</body>
</html>
{{- end }}