{{- $sidebar := false }}
{{- if eq .Kind "home" -}}
	{{ $sidebar = (default .Site.Params.sidebar.home .Params.sidebar) }}
{{- else if eq .Kind "page" -}}
	{{ $sidebar = (default .Site.Params.sidebar.single .Params.sidebar) }}
{{- else -}}
	{{ $sidebar = (default .Site.Params.sidebar.list .Params.sidebar) }}
{{ end }}

{{- if $sidebar -}}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">
{{ partial "google-adsense1.html" }}
<div class="widget-categories widget content">
  <h4 class="widget__title">管理人</h4>
  <div>
    <img class="profile-icon" src="/images/prof-icon.webp" alt="プロフィールアイコン" width="100px">
  </div>
  <p class="profile-name"><b>Dim</b></p>
  <p class="profile-detail">サイト管理人の<b>Dim</b>です。
		<br>ITエンジニアをやっています。趣味はゲームなど…。
		<br>プロフィールページは<a href="/profile" target="_blank">こちら</a>から</p>
</div>
{{ partial "ranking.html" . . }}
{{- $root := . }}
{{- with (default .Site.Params.sidebar.widgets .Params.widgets) -}}
	{{- range $widget := . }}
		{{- $widgetPath := printf "widgets/%s.html" $widget }}
		{{- $widgetCached := false }}
		{{- if isset $.Site.Params "widgets" }}
			{{- $widgetCached = (index $.Site.Params.widgets $widget).cached }}
		{{- end }}
		{{- if eq $widgetCached true }}
			{{- partialCached $widgetPath $root }}
		{{- else }}
			{{- partial $widgetPath $root }}
		{{- end }}
	{{- end }}
{{- else }}
	<p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
{{- end }}
{{ partial "google-adsense1.html" }}
</aside>
{{- end }}
<script src="\js\adsence.js"></script>