.list__item {
  padding: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.9375rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

  p {
    margin: 0;
  }
}

.list__title {
  font-size: 1.25rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: inherit;
  }

  &:hover {
    color: $highlight-color;
  }
}

.post__title {
  margin: 0 0 0.3125em;
}

.list__meta {
  display: flex;
  flex-direction: column;
}

.list__thumbnail {
  float: left;
  margin: 0 1rem 0 0;

  img {
    width: 100%;
    max-width: 11.25rem;
  }
}

.list__content {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination__item {
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  margin: 0 0.3125em;
  font-weight: 700;
  color: $font-color;
  background: $background-base-color;

  &:hover {
    color: $background-surface-color;
    background: $highlight-color;
  }
}

.pagination__item--current {
  color: $background-surface-color;
  background: $highlight-color;
}