.related {
  padding: 1rem 0;
  border-top: $border;

  ol,
  ul {
    padding: 0;
    margin: 0;
  }
}

.related__item {
  display: block;
  padding: 0.3125rem 0;
  border-bottom: $sub-border;

  &:first-child {
    padding-top: 0;
  }
}