{{- $title := .Get "title" -}}
{{- $asin := .Get "asin" -}}
{{- $url := .Get "url" -}}
{{- $associateId := "dim08-22" -}}

<div class="product-link-box">
  <div class="product-link-image">
    <a href="{{ $url }}" target="_blank">
      <img
        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{$asin}}&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag={{$associateId}}&language=ja_JP"
        alt="{{ $title }}" />
    </a>
  </div>
  <div class="product-link-info">
    <div class="product-link-title">
      <a href="{{ $url }}" target="_blank">
        {{ $title }}
      </a>
      <br><img src="https://www.amazon.co.jp/favicon.ico" width="15px" />
      amazon.co.jp
    </div>
  </div>
</div>